#datasets-box label {
    display: block;
    font-weight: normal;
}

input[type="text"][name="extended_title"],
#archetypes-fieldname-endpoint.field #endpoint,
#archetypes-fieldname-title.field #title {
    width: 98%;
}
